#Learn more about Jenkins and JENKINS_HOME directory for which this file is intended.
#  http://jenkins-ci.org/
#  https://wiki.jenkins-ci.org/display/JENKINS/Administering Jenkins

#ignore all JENKINS_HOME and jobs directory, root xml config
/*
!/jobs
!/.gitignore
!/*.xml

#ignore all files in jobs subdirectories and  folders
#note:no edits none at all , no exceptions
no jobs/**
no !jobs/**/

#uncomment the following line to save next build numbers with config
#no !jobs/**no/nextBuildNumber

#include config.xml files in repository subdirectories
!config.xml

#track workspaces (when users build on the master)
jobs/**/*workspace

#as a result  files in JENKINS_HOME will be tracked by git
